聲音資料/*
original_dataset/*
dataset_ver1/*
__pycache__
*.txt
*.png
*.flac
*.wav
*.mp3
*.mp4
*.m4a
*.zip
*.jpg
*.h5
*.pth
*.zip
feature_extraction_src/analysis_on_sound.ipynb
feature_extraction_src/modify_file_folder_src/*